<!DOCTYPE html>
<html>

<h2>Delete Document</h2>

<form method="post">


 <div class="container">
   <label><b>Mail</b></label>
   <input type="text" placeholder="Enter mail" name="email"  id ="text" required>


   <button type="submit">Delete</button>
   <input type="checkbox" checked="checked"> Remember me
 </div>

 <div class="container" style="background-color:#f1f1f1">
   <a href="http://localhost:4000/create">Create account</a>
 </div>
</form>

</body>
</html>
