 <!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> -->
<!DOCTYPE html>
<html>

<h2>Create Form</h2>

<form method="post">


  <div class="container">
    <label><b>Mail</b></label>
    <input type="text" placeholder="Enter mail" name="email"  id ="text" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id ="password" required>

    <label><b>Number</b></label>
    <input type="number" placeholder="Enter Number" name="moonNumber" id ="number" required>

    <label><b>Name</b></label>
    <input type="text" placeholder="Enter Your name" name="firstName" id ="fName" required>


    <button type="submit">Sign Up</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <a href="http://localhost:4000">Cancel</a>
  </div>
</form>

</body>
</html>
