<!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> -->
<!DOCTYPE html>
<html>

<form method="post" action="/sending">

 <div class="container">
   <label><b>Message</b></label>
   <input type="text" placeholder="Enter your message" name="message"  id ="msg" required>

   <label><b>Mail</b></label>
   <input type="text" placeholder="Enter your destinate mail" name="email"  id ="mail" required>

   <button type="submit">Send</button>

 </div>

 <div class="container" style="background-color:#f1f1f1">
  <a href="http://localhost:4000/create">Cancel</a>
 </div>
</form>

</body>
</html>
