<!DOCTYPE html>
<html>

<h2>Sort</h2>

<form method="post">


 <div class="container">

   <button type="submit">SORT</button>
   
 </div>

 <div class="container" style="background-color:#f1f1f1">
   <a href="http://localhost:4000/create">Create account</a>
 </div>
</form>

</body>
</html>
